
.container {
    display: grid;
    place-items: center;

    & .opened {
        display: block;
    }
    
    & .closed {
        display: none;
    }

    & form {
        background: rgba(0, 128, 128, 0.4);
        border-radius: 20px;
        padding: 2em;
        margin: 3em;
    }

    & label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
    }


    & form {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    & .addbuttonopen {
        display: none;
    }

    & .addbuttonclose {
        margin: 2em 0 2em 0;
    }

    & button {
        margin: 0 auto;
    }

}
